.container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include respond-to(xl) {
        width: 800px;
    }
    @include respond-to(xs) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.container-item{
    background: white;
    padding: 10px;
    padding-top: 0px;
}