$BG-COLOR: #dcdcdc;
$BLUE-A: blue;
$BLUE-B: #0f2848;
$BLUE-HOVER-B: #39669e;
$RED-A: #ff6f6f;
$RED-B: #ff4242;
$RED-HOVER-A: #ffadad;
$GREY-A: #ecebeb;
$GREY-B: #f5f5f5;
$IB-FONT-SIZE: 18px;
$B-FONT-INFO-SIZE: 14px;
$INPUT-BG-COLOR: #f1f1f1;
$FONT-FAMILY: 'Roboto', sans-serif;
$TODOS-COMPLETED: #12ce8a;
$TODOS-UNCOMPLETED: #4484ff;
$TODOS-NOT-COMPLETED: #b1b1b1;
$CHECK-CIRCLE-BORDER-COLOR: #0000007d;
$BODY-FONT-SIZE: 18px;
$BODY-FONT-SIZE-MOBILE: 16px;
